<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../components/form-buttons-bar.html">

<dom-module id="team-detail">
  <template>

    <style>
      :host {
        display: flex;
        flex-direction: column;
        flex: auto;
        height: 100%;
      }

      vaadin-form-layout {
        flex: auto;
        overflow: auto;
      }
    </style>

   
    <h3 id="title"></h3>
    <vaadin-text-field id="name" label="Product name" colspan="2"></vaadin-text-field>
    <vaadin-text-field id="price" label="Unit price" colspan="2"></vaadin-text-field>
  </template>

  <script>
    class TeamDetail extends Polymer.Element {
      static get is() {
        return 'user-detail';
      }

      ready() {
        super.ready();
        this.$.form.addEventListener('change', e => {
          this.$.buttons.$.save.disabled = false;
        });
      }
    }
    window.customElements.define(TeamDetail.is, TeamDetail);
  </script>
</dom-module>
